@charset "UTF-8";

@import "text.css";


* {padding:0;margin:0;}
input[id="menuicon"] {display:none;}
input[id="menuicon"] + ul {display:block;position:fixed;left:10%;top:30%;transform:translateY(-50%);transition:all .35s;text-align:right;}
input[id="menuicon"] + ul > li {display:block;width:60px;height:60px;position:relative;margin-top:-1px;}
input[id="menuicon"] + ul > li > a {display:block;width:auto;height:50px;overflow:hidden;transition:all .35s;}
input[id="menuicon"] + ul > li > label {display:block;cursor:pointer;width:60px;height:60px;background:#000; border-radius:30px;}
input[id="menuicon"] + ul > li:nth-child(1) label span {display:block;position:absolute;width:50%;height:4px;border-radius:40px;background:#fff;transition:all .35s;}
input[id="menuicon"] + ul > li:nth-child(1) label span:nth-child(1) {top:30%;left:50%;transform:translateX(-50%);}
input[id="menuicon"] + ul > li:nth-child(1) label span:nth-child(2) {top:50%;left:50%;transform:translate(-50%,-50%);}
input[id="menuicon"] + ul > li:nth-child(1) label span:nth-child(3) {bottom:30%;left:50%;transform:translateX(-50%);}
input[id="menuicon"]:checked + ul {z-index:2;left:350px;}
input[id="menuicon"]:checked + ul > li:nth-child(1) label {z-index:2;left:300px;}
input[id="menuicon"]:checked + ul > li:nth-child(1) label span:nth-child(1) {top:50%;left:50%;transform:translate(-50%,-50%) rotate(45deg);}
input[id="menuicon"]:checked + ul > li:nth-child(1) label span:nth-child(2) {opacity:0;}
input[id="menuicon"]:checked + ul > li:nth-child(1) label span:nth-child(3) {bottom:50%;left:50%;transform:translate(-50%,50%) rotate(-45deg);}
div[class="sidebar"] {width:350px;height:100%;background:#ffff;
                      position:fixed;top:0;left:-800px;z-index:1;transition:all .35s;}
input[id="menuicon"]:checked + ul + div {left:0;}


ul{
  radius:10px;
   list-style:none;
	 margin:0; padding:0;
   }

li {
  display: inline-block;
	text-align: center;
	font-size: 23px;}


ul.List {}
	ul.List > li { display:inline-block; width:100px; padding:10px 10px;
								background:#fff; border-bottom: 2px solid #DBDBDB;
								text-align:center; position:relative;
								left: 20%; top: 220px; padding-left: 70px; padding-right: 70px;}
	ul.List > li:hover { background:#DAD7E2; }
	ul.List > li ul.sub { display:none; position:absolute; top:40px; left:0; }
	ul.List > li:hover ul.sub { display:block; }
	ul.List > li ul.sub > li { display:inline-block; width:150px; padding:10px 10px;
															background:#fff; border-bottom: 2px solid #DBDBDB;
															text-align:center; }
	ul.List > li ul.sub > li:hover { background:#B5B0C1; }



div li a{text-decoration:none; color: black;}
a:hover{text-decoration: none; color:#9080B2;}
